<!--View Post in dashboard with buttons-->
{{#each postDataList}}
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center post-container" style="background-image: url('{{../imageUrl}}')">
        <img src="{{randomGif}}" alt="Anti-spam" class="mx-auto" style="max-width: 300px; max-height: 300px;">
        <div class="post-title-container">
        <h4 class="post-title">{{this.userPost.title}}</h4>
        <span class="post-author">- {{this.userPost.username}} : {{this.userPost.created}}</span>
    </div>
    <div style="background: rgba(255, 227, 167, 0.4); padding: 5px; border-radius:5px;">
<p >{{{this.userPost.content}}}</p>
    </div>
    <div>
        <button class="btn-delete" data-id="{{this.userPost.id}}">Delete</button>
        <button class="btn-update" data-id="{{this.userPost.id}}">Update</button>
    </div>
    {{#each this.comments}}
        <div class="comment-container">
            <p class="comment-content">{{this.content}}</p>
            <span class="comment-author">- {{this.username}} : {{this.created}}</span>
        </div>
    {{/each}}
</div>
{{/each}}
</div>