<!--View and comment Post in dashboard with buttons-->


{{#each postDataList}} 
<!--for each item in postDataListArray render whats between these curly brackets-->
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center post-container" style="background-image: url('{{../imageUrl}}');">
        <img src="{{randomGif}}" alt="Anti-spam" class="mx-auto" style="max-width: 300px; max-height: 300px;">
        <div class="post-elements col-md-12">
        <div class="comment-element">
        <div class="post-section col-sm-6 col-md-8 col-lg-10">
            <div class="post-title-container ">
            <div class="post-title-container ">
                <h5 class="post-title">{{this.userPost.title}}</h5>
                <span class="post-author">- {{this.userPost.username}} : {{this.userPost.created}}</span>
            </div>
                <p>{{{this.userPost.content}}}</p>
            </div>
        </div>
        <div data-id="{{this.id}}" class="comments-only d-flex flex-row ">
            {{#each this.comments}}
            <div data-id="{{this.postId}}" data-aos="fade-left" data-aos-delay="0" data-aos-duration="1500" data-aos-once="true" class="userComments text-center" >
                <div class="post-comment-container">
                    <p class="comment-content">{{this.content}}</p>
                    <span class="comment-author">- {{this.username}}: {{this.created}}</span>
                </div>
            </div>
            {{/each}}
            </div>
            </div>
               <div class="btn-container pl-6 pb-3 d-flex flex-row">
                <button id="btn-comment" class="btn-comment btn" data-id="{{this.id}}" style="padding: 5px 10px; font-size: 0.8rem;">Comment</button>
                <button id="btn-delete" class="btn btn-delete" data-id="{{this.id}}" style="padding: 5px 10px; font-size: 0.8rem;">Delete</button>
                <button id="btn-update" class="btn btn-update" data-id="{{this.id}}" style="padding: 5px 10px; font-size: 0.8rem;">Update</button>
                </div>
            </div>
    </div>
{{/each}}
<div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center">
    <h2 class="text-center font-weight-bold my-5">Community Posts</h2>
</div>