<div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(/img/banner-bk.jpg);">
<div class="container text-center text-md-left">
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(/img/contact-bk.jpg); border-radius: 7px;">
    <div class="container text-center text-md-left">
<header>
    <div class="row justify-content-between">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <img src="/img/tech4.png" alt="logo">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 align-self-center d-flex flex-lg-row flex-md-column flex-sm-row flex-column justify-content-sm-center">
            <a href="/" class="text-white mr-lg-5 my-lg-0 my-md-2 flex-fill text-center">Home</a>
            <a href="/dashboard" class="text-white mr-lg-5 my-lg-0 my-md-2 flex-fill text-center">Dashboard</a>
            <a href="/contact" class="text-white my-lg-0 my-md-2 flex-fill text-center">Contact</a>
        </div>
    </div>
</header>
        <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5 metallic-text">
            The Tech Blog<br>

        </h1>
        <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
            A place to talk about Tech 
            <br>. . . . . . .a place to learn.
        </p>
    {{#if inActiveSession}}
        <a href="/login" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 mr-4 font-weight-bold atlas-cta cta-green">Login</a>

        <a href="/signup" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Sign-up</a>
    {{/if}}
    </div>
</div>
<!-- three-blcok -->
<div class="container my-5 py-2">
    
    <h2 class="text-center font-weight-bold my-5">Recent  Blogs</h2>
   
    <div class="col-12 allPosts">
{{#if viewAndCommentTemplate}}
  {{> viewAndComment}}
{{/if}}
{{#ifCond viewAndCommentTemplate '!=' true}}

{{#each postDataList}}
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center post-container" style="background-image: url('{{../imageUrl}}');">
        <img src="{{randomGif}}" alt="Anti-spam" class="mx-auto" style="max-width: 300px; max-height: 300px;">
        <div class="post-elements col-md-12">
        <div class="comment-element">
        <div class="post-section col-sm-6 col-md-8 col-lg-10">
            <div class="post-title-container ">
            <div class="post-title-container ">
                <h5 class="post-title">{{this.userPost.title}}</h5>
                <span class="post-author">- {{this.userPost.username}} : {{this.userPost.created}}</span>
            </div>
                <p>{{{this.userPost.content}}}{{this.userPost.username}} : {{this.userPost.created}} </p>
            </div>
        </div>
        <div data-id="{{this.id}}" class="comments-only d-flex flex-row ">
            {{#each this.comments}}
            <div data-id="{{this.postId}}" data-aos="fade-left" data-aos-delay="0" data-aos-duration="1500" data-aos-once="true" class="userComments text-center" >
                <div class="post-comment-container">
                    <p class="comment-content">{{this.content}}</p>
                    <span class="comment-author">- {{this.username}}: {{this.created}}</span>
                </div>
            </div>
            {{/each}}
            </div>
            </div>
            </div>
    </div>
{{/each}}
{{/ifCond}}
    </div>
</div>

<div class="jumbotron jumbotron-fluid feature" id="feature-last">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                <h2 class="font-weight-bold">Safe and reliable</h2>
                <p class="my-4">
                    Maybe some links
                    <br> More content in here for the footer
                </p>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                <img src="/img/feature-1.png" alt="Safe and reliable" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>
